<a href="https://colab.research.google.com/github/saleemshad/Full-Stack-AI-ML/blob/main/EDA_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_file = pd.read_csv('/content/drive/MyDrive/geolocations_amenities_ghmc.csv')

In [ ]:
data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88718 entries, 0 to 88717
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sno               88718 non-null  int64
 1   Wardno Name       88713 non-null  object
 2   Circleno Name     88714 non-null  object
 3   Zone              88699 non-null  object
 4   Assessor Address  88666 non-null  object
 5   Latitude          88717 non-null  float64
 6   Longitude         88717 non-null  float64
 7   Category          88718 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.4+ MB

In [ ]:
data_file.describe()

                Sno      Latitude     Longitude
count  88718.000000  88717.000000  88717.000000
mean   44359.500000     19.480063     76.413930
std    25610.824928     11.012548     11.005354
min        1.000000     17.135225     17.282086
25%    22180.250000     17.381477     78.417444
50%    44359.500000     17.425307     78.465952
75%    66538.750000     17.482789     78.525518
max    88718.000000     78.620648     78.700814

In [ ]:
data_file['Latitude'].isnull().values.any()

True

In [ ]:
data_file['Longitude'].isnull().values.any()

True

In [ ]:
data_file['Latitude'].isnull().sum()

1

In [ ]:
data_file['Longitude'].isnull().sum()

1

In [ ]:
#data_file['Latitude'] = data_file['Latitude'].fillna(0)

In [ ]:
data_file['Latitude'].isnull().sum()

1

In [ ]:
#data_file['Longitude'] = data_file['Latitude'].fillna(0)

In [ ]:
data_file['Longitude'].isnull().sum()

1

In [ ]:
nan_values = data_file[data_file['Longitude'].isna()]
nan_values

         Sno Wardno Name Circleno Name  ... Latitude Longitude          Category
88665  88666         NaN           NaN  ...      NaN       NaN  SPORTS COMPLEXES

[1 rows x 8 columns]